# **Exploratory data analysis**

## General info

**Project:** Heart disease prediction

**Author:** Maria (GitHub - Stork656)

**Date:** 2025

**Data source:** https://www.kaggle.com/datasets/fedesoriano/heart-failure-prediction 

**Goal:** The purpose of this analysis is to determine data characteristics relevant to preprocessing and model development.

## Table of contents

1. [General Info](#General-info)
2. [Imports and settings](#Imports-and-settings)
3. [Load data](#Load-data)

#### Imports and settings

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#### Load data

In [18]:
path = "../data/raw/heart-diseases.csv"
df = pd.read_csv(path) 
df.head(7)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140.0,289.0,0.0,Normal,172,N,0.0,Up,0.0
1,49,F,NAP,160.0,180.0,0.0,Normal,156,N,1.0,Flat,1.0
2,37,M,ATA,130.0,283.0,0.0,ST,98,N,0.0,Up,0.0
3,48,F,ASY,138.0,214.0,0.0,Normal,108,Y,1.5,Flat,1.0
4,54,M,NAP,150.0,195.0,0.0,Normal,122,N,0.0,Up,0.0
5,39,M,NAP,120.0,339.0,0.0,Normal,170,N,0.0,Up,0.0
6,45,F,ATA,130.0,237.0,0.0,Normal,170,N,0.0,Up,0.0

#### Data overview

In [16]:
df.shape

(918, 12)

The dataset contains 918 rows and 12 features.

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       917 non-null    float64
 4   Cholesterol     917 non-null    float64
 5   FastingBS       917 non-null    float64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    913 non-null    float64
dtypes: float64(5), int64(2), object(5)
memory usage: 86.2+ KB

The dataset contains features of different data types.

#### Feature analysis

In [19]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,917.000000,917.000000,917.000000,918.000000,918.000000,913.000000
mean,53.510893,132.355507,198.749182,0.233370,136.809368,0.887364,0.555312
std,9.432617,18.482498,109.433178,0.423206,25.460334,1.066570,0.497204
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.000000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

The dataset contains 5 numerical features and 2 binary features.  
Several continuous features show signs of skewness and potential outliers.
Missing values are present in the dataset.

In [21]:
df.isna().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         1
Cholesterol       1
FastingBS         1
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      5
dtype: int64

Missing values were found in four features and will be handled during preprocessing.